*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family arial, sans-serif;  
    background-color: #fff; 
}

header{
    background-color: #fff;
    padding: 20px; 
}   
.logo li{
    display: inline-block;
    vertical-align: middle;
}

nav{
    display:inline-block;
    margin: left 200px;
    margin-left 300px;
    text-align: left;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

.banner{
    width: 90%;
    margin: 20px auto;
}

.banner img{
    width: 1640px
    height: 613px;
    object-fit: cover;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.card img{
    width: 100%;
    display: block;
    height: 200px;
    object-fit: cover;
}

h1{
    text-align: left;
    letter-spacing: 0.4px;
    size: 40px;
    margin-top: 20px;
}
.containers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.container img{
    width: 100%;
    display: block;
    height: 200px;
    object-fit: cover;
}

.news-2{
    width: 30%;
    margin-bottom: 20px;
}
  