*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family arial, sans-serif;  
    background-color: #fff; 
}

header{
    width: 90%;
    margin: 20px auto;  
    display: flex;  
    jyustify-content: space-between;
    align-items: center;      
}

.banner{
    width: 90px;
    margin: 20px auto;
}

. banner img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}